html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  color: aliceblue;
  background-image: url(./../assets/images/milkyway.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

img {
  position: absolute;
}