html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  color: aliceblue;
  background-image: url(./../assets/images/milkyway.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#user-form {
  border-radius: 20px;
  width: max-content;
  background: rgb(43,43,43);
  background: radial-gradient(circle, rgba(43,43,43,1) 0%, rgba(43,43,43,0.8057598039215687) 54%);
  /* position: absolute; */
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  padding: 20px;
}

img {
  position: absolute;
}

#sun {
  left: 0;
  top: 50%;
  transform: translate(-75%, -50%);
}
#mercury {
  left: 13%;
  top: 50%;
  transform: translate(0%, -50%);
}
#mercuryInfo {
  left: 10%;
  top: 66%;
  transform: translate(-50%, -50%);
}
#venus {
  left: 18%;
  top: 40%;
  transform: translate(0%, -50%);
}
#venusInfo {
  left: 14%;
  top: 22%;
  transform: translate(-50%, -50%);
}
#earth {
  left: 30%;
  top: 60%;
  transform: translate(0%, -50%);
}
#earthInfo {
  left: 30%;
  top: 80%;
  transform: translate(-50%, -50%);
}
#mars {
  left: 39%;
  top: 35%;
  transform: translate(0%, -50%);
}
#marsInfo {
  left: 34%;
  top: 20%;
  transform: translate(-50%, -50%);
}
#jupiter {
  left: 44%;
  top: 50%;
  transform: translate(0%, -50%);
}
#jupiterInfo {
  left: 52%;
  top: 77%;
  transform: translate(-50%, -50%);
}
#saturn {
  left: 62%;
  top: 30%;
  transform: translate(0%, -50%);
}
#saturnInfo {
  left: 58%;
  top: 20%;
  transform: translate(-50%, -50%);
}
#uranus {
  left: 80%;
  top: 55%;
  transform: translate(0%, -50%);
}
#uranusInfo {
  left: 79%;
  top: 71%;
  transform: translate(-50%, -50%);
}
#neptune {
  left: 88%;
  top: 42%;
  transform: translate(0%, -50%);
}
#neptuneInfo {
  left: 90%;
  top: 22%;
  transform: translate(-50%, -50%);
}

.planet-info {
  position: absolute;
  font-size: 0.5em;
  background: rgb(43,43,43);
  background: radial-gradient(circle, rgba(43,43,43,1) 0%, rgba(43,43,43,0.8057598039215687) 54%);
  padding: 20px;
  border-radius: 20px;
  width: max-content;
  width: 210px;
}

.hidden {
  /* display: none; */
}

ul {
  padding-left: 0;
  list-style: none;
}