html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  color: aliceblue;
  background-image: url(./../assets/images/milkyway.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

img {
  position: absolute;
}

#sun {
  left: 0;
  top: 50%;
  transform: translate(-75%, -50%);
}
#mercury {
  left: 13%;
  top: 50%;
  transform: translate(0%, -50%);
}
#venus {
  left: 18%;
  top: 40%;
  transform: translate(0%, -50%);
}
#earth {
  left: 30%;
  top: 60%;
  transform: translate(0%, -50%);
}
#mars {
  left: 39%;
  top: 35%;
  transform: translate(0%, -50%);
}
#jupiter {
  left: 44%;
  top: 50%;
  transform: translate(0%, -50%);
}
#saturn {
  left: 62%;
  top: 30%;
  transform: translate(0%, -50%);
}
#uranus {
  left: 80%;
  top: 55%;
  transform: translate(0%, -50%);
}
#neptune {
  left: 88%;
  top: 42%;
  transform: translate(0%, -50%);
}